@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
}

body{
    background-color: #fff0e5;
}
    

.header{
    background-color: #fff0e5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;

}

.header .logo img{
    height: 80px;
    width: auto;
    transition: all 0.3s;
    padding: 10px 0;
    
}

.header .logo{
    padding: 10px 10px;
    margin-right: auto;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
    
}

.header .nav-links li a:hover{
    color: black;
    
}



.title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ruthie;
    font-size: 48px;
    width: 100%;
    padding: 80px 0px 0px 0px;
    
}

.hero-img img{
    max-width: 320px;
    float: right;
    border: 3px solid #fff0e5;
    border-radius: 10px;
    
}


.hero-info p{
    font-size: 16px;
    padding: 100px 50px;
}


#hero{
    margin: 10px 100px;
    width: 80%;
}


.hero-info p > span{
    font-family: ruthie;
}

.imagen{
    width: 100%;
}

.imagen img {
    width: 100%;
}

.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    padding: 20px 20px;
}


.contenedor{
    padding-left: 10%;
    padding-right: 10%;
}
.separador{
    padding-left: 5%;
    padding-right: 5%;
}
.separador h3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
    width: 100%;
    padding: 80px 0px 0px 0px; 
   
}

.button-instagram{
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    border-radius: 50px;
    color: #fff;
    background: radial-gradient(circle at  10% 280%, 
    #fdf497 0%,
    #fdf497 15%,
    #fd5949 45%,
    #d6249f 70%,
    #6801a3 95%);
    background-position-x: 0.5s linear;
    width: 150px;
    height: 38px;
    display: inline-block;
}


.buttons{
    display: flex;
    padding-left: 230px;
    gap: 30px;
    float: left;
}

.button-facebook{
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    border-radius: 50px;
    
    background-color: #4267B2;
    color: white;
}


.container{
    width: 100%;
    display: flex;
    max-width: 1100px;

}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}


#card-section{
    padding-left: 10%;
    padding-right: 10%;
}


.card-title h3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
    width: 100%;
    padding: 80px 0px 20px 0px; 
   
}

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


#menu-toggle,
.menu-label{
    display: none;
}