@media(max-width: 820px){
    .header{
       padding: 0; 
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .header .logo img{
        padding: 0;
    }

    #card-section{
        padding: 0;
    }




    .buttons{
        display: none;
    }
   
   
   
   
   
   
   
   
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 700px){
    .footer-col{
      width: 100%;
  }

   
  /* navbar burger quiero mcdonald*/

  .nav-links {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: #fff0e5;
    border: 2px solid black;
    border-top: 0;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }

  .nav-links a {
    font-size: 18px;
  }

  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  #menu-toggle:checked + .nav-links {
    display: flex;
  }




  .title h1{
    
    font-size: 32px;
    }

    .hero-img img{
        max-width: 150px;
        border-radius: 0;
    }

    .hero-info p{
        padding: 10px 5px;

    }

    #hero{
        width: 95%;
        margin: 2.5%;
    }

    .galeria {
        padding: 5px 5px;
    }

    .contenedor{
        padding: 2.5% 2.5%;
    }

    .separador h3{
        padding: 10px 0px 0px 0px ;
        width: 100%;
        padding-left: 2.5%;
        padding-right: 2.5;
        font-size: 28px;
        
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }

  }
  
  @media (min-width: 700px) {
    .respmenu {
        display: none;
    }

    
  }

  @media (max-width: 700px) {
    .nav-links{
        display: none;

    }
  }

@media (max-width: 1000px) {
  .buttons{
    padding-left: 20%;
  }
}